/**,*/
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url('https://anandipaliwal.files.wordpress.com/2015/06/food-table-relisted.jpg');
    background-size: cover;
    min-height: 300px;
    border-radius: 4px;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#app{
  /*background-image: url('https://images.pexels.com/photos/225011/pexels-photo-225011.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');*/
  background-size: cover;
}
#app .navbar {
    color: white;
    background-color: #cb202d;
    /*position: fixed;*/
}
/*#app .static{
    position: fixed;
}*/
#app .navbar a {
    color: white;
}

.hidden {
    display: none;
}

#app .login {
    /*background-color: #cb202d;*/
    background-image: url('https://images.pexels.com/photos/274836/pexels-photo-274836.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3c23d;
    padding: 1rem;
    padding-top: 0;
    border-radius: 4px;
}

#app .title{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 100px;
  color: #d3c23d;
  padding-bottom: 50px;
  margin-top: -200px;
}
#app .title1{
  font-size: 100px;
}
/*this css is about displaying restaurant information*/
.hero {
    margin-bottom: 2rem;
}

.restaurant {
    background-color: white;
    position: relative;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 4px;
}

.rest-wrapper {
    display: flex;
    font-family: sans-serif;
}

.rest-wrapper .image {
    margin-right: 1rem;
    display: block;
    border-bottom: 2px solid #e7e7e7;
}


.rest-wrapper .image img {
    border-radius: 4px;
}


.rest-wrapper .rest-name {
    font-size: 24px;
    color: #cb202d;
}

.rest-wrapper .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1rem;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #7c96a7;
     flex: none;
     margin-right: 2rem;
}

.restaurant .rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}

.restaurant1 .rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}


.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}

/*adding CSS for BestDish*/
.bestDish .button {
    display: inline-block;
    /*background-color:#cb202d;*/
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    color: white;
    font-size: 1.3rem;
}


.bestDish .button_get {
    background-color:#cb202d;
    border-radius: 4px;
    cursor: pointer;
}

/*adding css about image url form*/
.image-url-form {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50px;

    right: 400px;
    background-color: #4f8989;
    padding: 1rem;
    /*padding-top: 100px;*/
    border-radius: 4px;
    /*width :400px;*/
    /*height: 400px;*/

}
.vegan {
    background-color: ##477a7c;
    height: 100vh;
    /*position: relative;*/
    min-height: 500px;
    background-image: url('https://static.pexels.com/photos/540518/pexels-photo-540518.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /*display: flex;*/
    /*bottom:  50px;*/
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

/*css for restaurant.html*/

.restaurant1 {
    /*background-color: white;*/
    position: relative;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 4px;
}
.rest-wrapper1 {
    /*display: flex;*/
    font-family: sans-serif;
}

.rest-wrapper1 .image {
    margin-right: 1rem;
    display: block;
    border-bottom: 2px solid #e7e7e7;
}


.rest-wrapper1 .image img {
    border-radius: 4px;
}
.rest-wrapper1 .rest-name {
    font-size: 24px;
    color: #cb202d;
}

.rest-wrapper1 .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper1 .rest-address {
    color: #89959B;
}

/*css for showing recommended image*/

.rest .recommend{
  padding-top: 30px;
  /*border-top: 5px solid red;*/
  /*background-color:rgba(255,255,255,0.85);*/
  /*border-radius:1;*/
  margin-top:-10px;
}
.rest .recommend .type{
  font-size: 2.6rem;
}
.rest .recommend .val{
  font-size: 1.7rem;
  margin:0px 0rem 1rem 0.5rem;
  color: #89959b;
}
.rest .recommend .value{
    font-size: 3rem;
    padding-left: 5px;
    color:darkorange;
  }
.rest .recommend .bestImage img{
  margin:30px 0px 30px 0px;
  width: 100%;
  /*border:2px  solid #f3f3e8;*/
  border-radius: 10px;
  height: 600px;
}

.VegDish{
  border:5px solid green;
}

.NonVegDish{
  border:5px solid red;
}
.notice{
  text-align: center;
}

.vegText{
  color: green;
}

.nonvegText{
  color: red;
}


.rest .recommend .type{
  font-size: 2.6rem;
}
.rest .value{
  color:#89959b;
}
/*.bestDish .button_view {
  position: absolute;
  padding: 8px 12px;
  margin: 0px 0px 0px -80px;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
}
.bestDish .button_view:hover {
    color:green;
    background-color: white;
    border: 2px solid green;
}*/
.recommend .ingredients{
  font-size:2rem;
  color: black;
}
